.sit-title {
    letter-spacing: -0.01em;

    span {
        font-weight: 300;
        color: $color__primary;
    }

    &.section-title {
        margin: 0 0 64px;

        @include breakpoint (medium) {
            margin: 0 0 40px;
        }
    }
}

.page-title,
.xs-title {
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
}

.sit-pros {
    &__overview {
        margin: 0 0 64px;

        &:has(.sit-pros__overview-desc) {
            @include flex (space-between, false, wrap, row);
            gap: 24px 40px;

            @include breakpoint (medium) {
                justify-content: center;
            }

            >* {
                @include breakpoint (medium, true) {
                    flex: 1;
                }
            }

            .sit-title {
                margin: 0 !important;

                @include breakpoint (medium, true) {
                    text-align: left;
                }
            }
        }

        @include breakpoint (medium) {
            margin: 0 0 40px;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        p {
            color: $color__gray-500;
        }

        .sit-title {
            text-align: center;
        }

        &-desc {
            @include breakpoint (medium, true) {
                flex: 0 0 40%;
                max-width: 40%;
            }
        }
    }


    &:has(+.sit-subscription) {
        padding-block-start: 0px;
        background-color: $color__secondary;
    }
}

.pros-card {
    background-color: $color__gray-900;
    border-radius: 8px;
    padding: 32px;

    @include breakpoint (medium) {
        padding: 24px;
    }

    &__thumb {
        margin: 0 0 18px;

        img {
            width: 80px;
            height: 80px;
        }
    }

    &__content {
        h4 {
            margin: 0 0 12px;
            font-weight: 600;
        }

        p {
            font-size: var(--16px);
        }
    }
}

.offer-card {
    padding: 54px 32px 32px;
    border-radius: 8px;
    background-color: $color__secondary;
    border-top: 4px solid $color__primary;
    position: relative;
    height: 100%;

    &.premium {
        border: 0;
        padding: 31px 32px;
        background-color: $color__primary;
        margin-top: 24px;

        @include breakpoint (wide) {
            padding-inline: 20px;
        }

        @include breakpoint (ipadPro) {
            max-width: 570px;
            margin-inline: auto;
        }

        @include breakpoint (small) {
            max-width: 467px;
        }
    }

    .single-offers & {
        @include flex ();
    }

    &__inner {

        .premium & {
            @include flex (false, center, wrap, row);

            @include breakpoint (ipadPro) {
                flex-direction: column;
            }
        }

        .single-offers & {
            @include flex (false, false, wrap, column);
        }

        >* {
            .premium & {
                flex: 1;

                @include breakpoint (ipadPro) {
                    flex: 0 1 100%;
                    width: 100%;
                }
            }
        }
    }

    &__desc {
        font-size: var(--16px);

        .single-offers & {
            flex-grow: 1;
        }

        .premium & {
            padding: 0 32px 0 0;
            flex: 0 1 29.087%;

            @include breakpoint (laptop) {
                padding: 0 20px 0 0;
            }

            @include breakpoint(ipadPro) {
                padding: 0 0 24px;
                text-align: center;
                border-bottom: 1px solid $color__white;
                flex: 0 1 100%;
            }
        }

        .offer-card--sm,
        .single-offers & {
            padding-bottom: 64px;
        }
    }

    &__includes {

        .premium & {
            width: auto;

            @include breakpoint (ipadPro, true) {
                flex: 0 1 23%;
            }
        }

        ul {
            margin: 24px 0;
            padding: 24px 0;
            border-top: 1px solid $color__graywhite;
            border-bottom: 1px solid $color__graywhite;


            .premium & {
                padding: 0 32px;
                padding-right: 23px;
                border: 0;
                margin: 0;

                @include breakpoint (ipadPro, true) {
                    border: 0;
                    border-right: 1px solid $color__white;
                    border-left: 1px solid $color__white;
                }

                @include breakpoint (laptop) {
                    padding: 0 20px;
                }

                @include breakpoint(ipadPro) {
                    padding: 24px 0;
                }
            }

            li {
                font-size: 16px;
                font-weight: 300;
                padding-left: 24px;
                list-style: none;
                position: relative;
                color: $color__gray-700;
                display: flex;
                gap: 8px;
                padding-left: 0;

                .premium & {
                    color: $color__white;
                }

                &:not(:last-child) {
                    margin: 0 0 12px;
                }

                &::before {
                    content: none;
                    position: absolute;
                    top: 5px;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    background-image: url(../images/check-icon.svg);
                    background-repeat: no-repeat;
                    background-size: contain;

                    .premium & {
                        background-image: url(../images/check-icon-white.svg);
                    }
                }

                .list-icon {
                    flex: 0 0 16px;
                    width: 16px;
                    height: 16px;
                    display: inline-flex;
                    background: $color__white;
                    border-radius: 50%;
                    -webkit-mask-image: -webkit-radial-gradient(white, black);
                    position: relative;
                    top: 4px;

                    img,
                    svg {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .check {
                    svg {
                        rect {
                            .premium & {
                                fill: $color__white;
                            }
                        }

                        path {
                            .premium & {
                                fill: $color__primary;
                            }
                        }
                    }

                }

                .list-text {
                    font-size: inherit;
                    font-weight: inherit;
                    color: inherit;
                }
            }
        }
    }

    &__title {
        margin: 0 0 6px;
        font-weight: 600;
        font-size: var(--32px);
    }

    p {
        font-size: var(--16px);
    }

    &__plans {
        margin-bottom: 32px;


        .premium & {
            padding: 0 32px;

            @include breakpoint (ipadPro, true) {
                margin-bottom: 0;
            }

            @include breakpoint (laptop) {
                padding: 0 20px;
            }

            @include breakpoint(ipadPro) {
                padding: 24px 0 0 0;
                border-top: 1px solid $color__white;
                text-align: center;
            }
        }

        h2 {
            margin-bottom: 8px;
            letter-spacing: -0.01em;
            white-space: nowrap;

            @include breakpoint (laptop) {
                font-size: var(--36px);
            }

            span {
                font-size: var(--24px);
                font-weight: 400;
                line-height: 1.3;

                @include breakpoint (medium) {
                    font-size: var(--20px);
                }
            }
        }

        p {
            color: $color__gray-700;
            font-weight: 300;

            .premium & {
                color: $color__gray-400;
                font-weight: 400;
            }
        }
    }

    &__btn {
        .premium & {
            text-align: center;
            padding-left: 20px;

            @include breakpoint (laptop) {
                padding-left: 0;
            }
        }

        .sit-btn {
            .premium & {
                width: auto;

                @include breakpoint (laptop) {
                    padding-left: 20px;
                }
            }
        }
    }

    .popular-tag {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-color: $color__primary;
        padding: 4px;
        position: absolute;
        top: -4px;
        left: 0;
        width: 100%;

        h6 {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.3;
            text-align: center;
            color: $color__white;
            text-transform: uppercase;
        }
    }

}

//two-column-layout
.two-column-layout {

    &__row {
        @include flex (false, center, wrap, row);
        margin: 0 -15px;
        gap: 40px 0;

        >* {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;

            @include breakpoint (medium) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    &__title {
        margin: 0 0 24px;

        @include breakpoint (wide) {
            font-size: var(--40px);
        }

        @include breakpoint (medium) {
            font-size: var(--32px);
        }
    }

    &__btn {
        margin-top: 48px;

        @include breakpoint (small) {
            margin-top: 32px;
        }
    }

    .two-column-layout--image {

        .image-holder {
            display: flex;
            border-radius: 8px;
            overflow: hidden;
        }

        img {
            aspect-ratio: 1.25 / 1;
            object-fit: cover;
            border-radius: inherit;
            width: 100%;

            @include breakpoint (medium) {
                aspect-ratio: 1.25 / .8;
            }

        }
    }

    .two-column-layout--content {
        padding-left: 129px;

        @include breakpoint (laptop) {
            padding-left: 60px;
        }

        @include breakpoint (medium) {
            padding-left: 15px;
        }

        .sit-title {
            letter-spacing: -0.01em;
        }

    }
}