// ------------------------------------- Site Base

*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	word-break: break-word;
	text-size-adjust: 100%;
	background-color: $color__brand-bg;
}

img,
video,
svg,
iframe,
figure,
picture {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 100%;
	width: $container-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $container-padding;
	padding-right: $container-padding;
}

a{
	color: $color__link;
	text-decoration: underline;
	text-underline-position: under;
}

h1{
	margin: 0 0 20px;
}

p{
	color: $color__gray-500;
}

.abs-bg-img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
