//BANNER
.sit-banner {
    position: relative;
    isolation: isolate;

    &::after,
    &::before,
    .overlay {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(77.86deg, #323232 12.46%, rgba(50, 50, 50, 0) 50.5%);
        mix-blend-mode: multiply;
    }

    &::before {
        background: linear-gradient(199.53deg, #323232 -7.09%, rgba(50, 50, 50, 0) 32.23%);
    }

    .overlay {
        background: #4BA6F966;
        z-index: -1;
    }

    .abs-bg-img{
        img{
            object-position: 74% center
        }
    }

    &__wrap {
        @include flex(flex-end, flex-start, wrap, column);
        min-height: 768px;
        position: relative;
        z-index: 1;
        padding-block-start: 150px;
        padding-block-end: 64px;
        max-width: 960px;

        @include breakpoint (medium){
            min-height: 645px;
        }

        @include breakpoint (small){
            min-height: 545px;
        }
    }

    &__title {
        margin: 0 0 24px;
        letter-spacing: -0.02em;
    }

    p {
        margin: 0;
    }

    &__button {
        margin-top: 32px;
    }
}

//About us section
.sit-aboutus {
    padding-block-start: 0;
    padding-block-end: 128px;

    @include breakpoint (medium) {
        padding-block-end: 80px;
    }

    @include breakpoint (small) {
        padding-block-end: 60px;
    }

    .home & {
        padding-block-start: 128px;
        padding-block-end: 0;
        @include breakpoint (medium) {
            padding-block-start: 80px;
        }

        @include breakpoint (small) {
            padding-block-start: 60px;
        }
    
    }

    &__row {
        @include flex (false, center, wrap, row);
        margin: 0 -15px;
        gap: 40px 0;

        >* {
            padding: 0 15px;

            @include breakpoint (small) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    &__title {
        margin: 0 0 24px;

        @include breakpoint (wide) {
            font-size: var(--40px);
        }

        @include breakpoint (medium) {
            font-size: var(--32px);
        }
    }

    &__btn {
        margin-top: 48px;

        @include breakpoint (small) {
            margin-top: 32px;
        }
    }

    .about--image {
        display: flex;
        border-radius: 8px;
        @include breakpoint (small, true) {
            flex: 0 0 50%;
            max-width: 50%;
        }

        img {
            aspect-ratio: 1.25 / 1;
            object-fit: cover;
            border-radius: inherit;
            width: 100%;

            @include breakpoint (small) {
                aspect-ratio: 1.25 / .8;
            }

            .home & {
                aspect-ratio: 1 / 1;
    
                @include breakpoint (small) {
                    aspect-ratio: 1.2 / 0.8;
                }
            }
            
        }
    }

    .about--content {
        padding-left: 129px;

        @include breakpoint (small, true) {
            flex: 0 0 50%;
            max-width: 50%;
        }

        @include breakpoint (laptop) {
            padding-left: 60px;
        }

        @include breakpoint (medium) {
            padding-left: 30px;
        }

        @include breakpoint (small) {
            padding-left: 15px;
        }
    }
}

//Pros
.sit-pros {
    padding-block: 128px;

    @include breakpoint (medium) {
        padding-block: 80px;
    }

    @include breakpoint (small) {
        padding-block: 60px;
    }

    .home & {
        position: relative;
        isolation: isolate;

        &::after{
            content: '';
            background-image: url(../images/block-graphics.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 376px;
            height: 376px;
            position: absolute;
            top: -137px;
            right: 0;
            z-index: -1;

            @include breakpoint (medium){
                width: 276px;
                height: 276px;
                top: -8%;
            }
        }
    }

    .sit-sub-title {
        font-size: var(--14px);
        color: $color__gray-800;
        text-transform: uppercase;
        margin: 0 0 16px;
        text-align: center;

        p{
            color: inherit;
        }
    }

    .sit-title {
        max-width: 864px;
        margin-inline: auto;
        margin-block-end: 62px;

        @include breakpoint (medium){
            margin-block-end: 40px;
        }

        p{
            color: inherit
        }
    }

    &__cards {
        @include flex(false, false, wrap, row);
        gap: 32px;

        >* {
            flex: 0 0 calc(33.33% - 21.33px);
            max-width: calc(33.33% - 21.33px);

            @include breakpoint (medium) {
                flex: 0 0 calc(50% - 16px);
                max-width: calc(50% - 16px);
            }
            @include breakpoint (small) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

//offer
.sit-offer{
    padding: 128px 0;

    @include breakpoint (medium){
        padding: 80px 0;
    }

    @include breakpoint (small){
        padding: 60px 0;
    }

    &__title{
        margin-bottom: 64px;

        @include breakpoint (medium){
            margin-bottom: 40px;
        }
    }

    &__cards{
        @include flex (false, false, wrap, row);
        margin: 0 -15px;
        gap: 32px 0;
        @include breakpoint (laptop, true){
            margin: 0 -16px;
        }

        @include breakpoint (small){
            max-width: 467px;
            margin-inline: auto;
        }

        >*{
            flex: 0 0 33.33%;
            max-width: 33.33%;
            padding: 0 15px;
            
            @include breakpoint (laptop, true){
                padding: 0 16px;
            }

            @include breakpoint (ipadPro){
                flex: 0 0 50%;
                max-width: 50%;
            }

            @include breakpoint (small){
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0;
            }
        }
    }

    &__col{
        .single-offers & {
            @include flex();
        }
    }

    &__premium{
        margin-top: 64px;

        @include breakpoint (medium){
            margin-top: 40px;
        }
    }

    &+.sit-sectioncta{
        padding-block-start: 128px;
        @include breakpoint (medium){
            padding-block-start: 80px;
        }
        @include breakpoint (small){
            padding-block-start: 60px;
        }
    }
}

//trust partners
.sit-trustedcustomer{
    padding-block-start: 178px;
    padding-block-end: 128px;

    @include breakpoint (medium){
        padding-block: 80px;

        .home & {
            padding-block-end: 30px;
        }
    }

    @include breakpoint (small){
        padding-block: 80px;

        .home & {
            padding-block-end: 30px;
        }
    }

    .container{
        width: 1117px;
    }

    &__table{
        @include flex (false, false, wrap, row);
    }

    &__col{
        border: 1px solid $color__gray-900;
        flex: 0 0 25%;
        max-width: 25%;

        @include breakpoint (wide){
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }

        @include breakpoint (small){
            flex: 0 0 50%;
            max-width: 50%;
        }

        @include breakpoint (smaller){
            flex: 0 0 100%;
            max-width: 100%;
        }

        &-holder{
            text-align: center;
            padding: 67.6px 23.5px;

            @include breakpoint (small){
                padding: 30px 20px;
            }

            img{
                aspect-ratio: 1.76 / 1;
                object-fit: contain;
            }
        }
    }

    &__btn{
        margin-top: 48px;

        @include breakpoint (medium){
            margin-top: 32px;
        }
    }
}

//customer review
.sit-customerreview{
    padding-block: 128px;

    @include breakpoint (medium){
        padding-block: 80px;
    }

    @include breakpoint (small){
        padding-block: 60px;
    }
}

// partnership
.sit-partnership{
    padding-block-start: 128px;
    padding-block-end: 121px;

    @include breakpoint (medium){
        padding-block: 80px;
    }

    @include breakpoint (small){
        padding-block: 60px;
    }

    &__logos{
        @include flex(center, center, wrap, row);
        margin: 0 -15px;
        padding: 0 27px;
        gap: 25px 0;

        @include breakpoint (laptop, true){
            margin: 0 -16px;
        }

        @include breakpoint (medium){
            padding: 0;
        }

        @include breakpoint (smaller){
            margin: 0 -8px;
        }

        >*{
            padding: 0 15px;
            text-align: center;
            flex: 0 1 20%;

            @include breakpoint (laptop, true){
               padding: 0 16px;
            }

            @include breakpoint (wide){
                flex: 0 1 25%;
            }

            @include breakpoint (medium){
                flex: 0 1 33.33%;
            }

            @include breakpoint (smaller){
                flex: 0 1 50%;
                padding: 0 8px;
            }
        }

        img{
            aspect-ratio: 1.77 / 1;
            object-fit: contain;
        }
    }

}

//sectioncta

.sit-sectioncta{
    padding-block-end: 128px;
    @include breakpoint (medium){
        padding-block-end: 80px;
    }

    @include breakpoint (small){
        padding-block-end: 60px;
    }

    .page-partnerschaft & {
        padding-block-start: 128px;
        @include breakpoint (medium){
            padding-block-start: 80px;
        }

        @include breakpoint (small){
            padding-block-start: 60px;
        }
    }

    .single & {
        padding-block-start: 128px;
        @include breakpoint (medium){
            padding-block-start: 80px;
        }

        @include breakpoint (small){
            padding-block-start: 60px;
        }
    }

    .page-referenzen & {
        padding-block-start: 128px;
        @include breakpoint (medium){
            padding-block-start: 80px;
        }

        @include breakpoint (small){
            padding-block-start: 60px;
        }
    }

    &__wrapper{
        border-radius: 8px;
        overflow: hidden;
    }

    &__row{
        @include flex (false, stretch, wrap, row);
    }

    &__col{
        flex: 0 0 100%;
        max-width: 100%;
        &-inner{
            padding-left: 80px;
            padding-right: 112px;
            padding-block: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;

            @include breakpoint (wide){
                padding-inline: 40px;
            }

            @include breakpoint (small){
                padding-inline: 15px;
            }

            .sit-title{
                margin: 0 0 24px;
                @include breakpoint (small){
                    margin: 0 0 18px;
                }
            }

            p{
                margin: 0 0 48px;
                color: $color__gray-500;

                @include breakpoint (small){
                    margin: 0 0 32px;
                }
            }
        }
    }

    .sectioncta--content{
        @include breakpoint (small, true){
            flex: 0 0 57.3%;
            max-width: 57.3%
        } 

        @include breakpoint (small){
            order: 2;
        }
    }

    .sectioncta--thumbnail{
        display: flex;
        position: relative;
        @include breakpoint (small, true){
            flex: 0 0 42.7%;
            max-width: 42.7%;
        } 
        @include breakpoint (small){
            order: 1;
        }

        img{
            object-fit: cover;
            width: 100%;
        }
    }
}