.result-section{
    padding-bottom: 80px;
    .container{
        width: 980px;
    }
    &__row{
        display: flex;
        flex-direction: column;
        gap: 48px;

        @include breakpoint (medium){
            gap: 32px;
        }
    }

    .entry-title{
        margin: 0 0 24px;
        a{
            color: $color__white;
            text-decoration: none;
            transition: 0.3s color;

            &:hover, &:focus{
                color: $color__primary;
            }
        }
    }

    .post-thumbnail{
        display: inline-block;
        img{
            // aspect-ratio: 1.25 / 1;
            // object-fit: cover;
            border-radius: 8px;
        }
    }
}